<h1>New game</h1>
<div class="d-flex align-items-center fw-semibold">
  <% @letters.each do |n| %>
  <div class="border bg-primary text-light text-center shadow-sm me-2 px-3 py-2 ">
    <%= n %>
  </div>
  <% end %>
</div>

<p class="mb-1 mt-3">What is the longest word you can find ?</p>
<div class="row">
  <div class="col-6">
    <form action="" data-turbo="false" class="input-group">
      <input type="text" class="form-control">
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
</div>
